/**
 * This file is used to configure Babel for shared-lib. This is needed because
 * the shared library contains React components or other modern JS that needs to be transpiled,
 * which is basically converting modern JS (JSX, TS or TSX) into a version that is compatible with browsers.
 * Browsers are just able to understand standard JS.
 * It doesn't need to be done in Admin and Customer Frontend Apps because they are 
 * Create React App (CRA) (via react-scripts) Apps, which already have Babel configured.
 * Local packages like this one are treated as external dependencies and CRA doesn't transpile
 * dependencies by default
 */
{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    //"@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-export-namespace-from"
  ]
}